/*body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
} */
/* line 14, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
body {
  font-family: "Times New Roman", Georgia, Serif;
}

/* line 18, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-custom {
  color: #f58025;
  font-size: 16px;
  background-color: #3498db;
  padding-left: 22%;
}

/* line 28, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-nav li {
  font-size: 25px;
  font-family: "Times New Roman", Georgia, Serif;
}
/* line 29, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-nav li a:link {
  color: white;
}
/* line 32, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-nav li a:visited {
  color: white;
}
/* line 35, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-nav li a:hover {
  color: white;
}
/* line 38, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-nav li a:active {
  color: white;
}

/* line 46, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.main_container {
  width: 60%;
  padding-top: 0px;
}

/* line 51, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
#quote {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

/* line 57, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.footer_container {
  padding-top: 25px;
  padding-bottom: 12px;
  background-color: #454545;
  color: white;
  text-align: center;
  font-size: 13px;
}

/* line 66, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
#inspirational {
  background-color: #898989;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
  font-style: italic;
  font-family: "Times New Roman", Georgia, Serif;
}

/* line 77, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_container, .inputtext_container {
  width: 100%;
  background-color: white;
}

/* line 82, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_container {
  height: 400px;
}

/* line 86, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.inputtext_container {
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
}

/* line 92, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.analyze_container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  font-family: "Times New Roman", Georgia, Serif;
}

/* line 99, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_footer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 1px #cccccc;
  font-family: "Tahoma";
}
/* line 109, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_footer label {
  font-weight: normal;
}

/* line 114, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_footerblock {
  display: inline-block;
  padding-right: 30px;
  font-size: 18px;
}

/* line 120, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
#writing_area {
  border: none;
  box-shadow: 0px 1px 1px #cccccc;
  margin-bottom: 0px;
  padding: 50px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  font-size: 20px;
  outline: yellow;
  height: 100%;
  resize: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
