/* line 1, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 11, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
body {
  font-family: "Times New Roman", Georgia, Serif;
}

/* line 15, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.navbar-custom {
  color: #f58025;
  font-size: 16px;
}

/* line 22, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.main_container {
  width: 60%;
  padding-top: 0px;
}

/* line 27, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
#quote {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

/* line 33, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.footer_container {
  padding-top: 25px;
  padding-bottom: 12px;
  background-color: gray;
  color: white;
  text-align: center;
  font-size: 13px;
}

/* line 42, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
#inspirational {
  background-color: #f58025;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
  font-style: italic;
}

/* line 52, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_container {
  width: 100%;
  height: 400px;
  background-color: white;
}

/* line 58, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_footer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 1px #cccccc;
  font-family: "Tahoma";
}
/* line 68, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
.welcome_footer label {
  font-weight: normal;
}

/* line 73, C:/Users/Jonathan/Documents/scrivener/app/assets/stylesheets/welcome.css.scss */
#writing_area {
  border: none;
  box-shadow: 0px 1px 1px #cccccc;
  margin-bottom: 0px;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  outline: yellow;
  height: 100%;
  resize: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
