<div class="inputtext_container">
	<%= params[:q] %>
</div>

<div class="analyze_container">
<table class="table table-hover">
<tr><td>Eloquence Score: <%= (eloquence_score(@result) * 100.0).to_s.at(0..4) + "%"  %></td></tr>

<tr><td>Linking Verbs: <%= (linking_verb_ratio(params[:q], @result) * 100.0).to_s.at(0..4) + "%" %> </td></tr>

<tr><td>Adjectives and Adverbs: <%= (adjective_adverb_ratio(params[:q], @result) * 100.0).to_s.at(0..4) + "%" %> </td></tr>

<tr><td>High-Register Words: <%= (high_register_word_ratio(params[:q], @result) * 100.0).to_s.at(0..4) + "%" %></td></tr>

<tr><td>Average Word Count: <%= mean_word_count(params[:q], @result).to_s.at(0..4) + " words" %></td></tr>

<tr><td>Sentence Length Variation: <%= stddev(params[:q], @result).to_s.at(0..4) %></td></tr>

<tr><td>Sentiment Intensity: <%= (sentiment(params[:q], @result) * 100.0).to_s.at(0..4) +"%" %></td></tr>

<tr><td><a href="/">Back to search page</a></td></tr>

</table>
</div>
