<%= form_tag("analyze", method: "post") do %>
<div class="welcome_container">
	  <%= text_area_tag(:q, nil, rows: 20, id:"writing_area") %>
	  </br>
</div>
	  
<div class="welcome_footer">
	<div class="welcome_footerblock">
	<%= radio_button_tag(:type, "essay", checked: true) %>
	<%= label_tag(:type_essay, "essay / generic") %>
	</div>
	<div class="welcome_footerblock">
	<%= radio_button_tag(:type, "research") %>
	<%= label_tag(:type_research, "research / academic") %>
	</div>
	<div class="welcome_footerblock">
	  <%= submit_tag("Analyze!", class:"btn btn-primary") %>
	</div>
</div>
<% end %>