<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hash %><br>
    <%= f.text_field :hash %>
  </div>
  <div class="field">
    <%= f.label :eloquence_score %><br>
    <%= f.text_field :eloquence_score %>
  </div>
  <div class="field">
    <%= f.label :high_register_word_ratio %><br>
    <%= f.text_field :high_register_word_ratio %>
  </div>
  <div class="field">
    <%= f.label :mean_word_count %><br>
    <%= f.text_field :mean_word_count %>
  </div>
  <div class="field">
    <%= f.label :stddev %><br>
    <%= f.text_field :stddev %>
  </div>
  <div class="field">
    <%= f.label :sum_square_sentiment %><br>
    <%= f.text_field :sum_square_sentiment %>
  </div>
  <div class="field">
    <%= f.label :adjective_adverb_ratio %><br>
    <%= f.text_field :adjective_adverb_ratio %>
  </div>
  <div class="field">
    <%= f.label :linking_verb_ratio %><br>
    <%= f.text_field :linking_verb_ratio %>
  </div>
  <div class="field">
    <%= f.label :redundancy_factor %><br>
    <%= f.text_field :redundancy_factor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
