<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Hash</th>
      <th>Eloquence score</th>
      <th>High register word ratio</th>
      <th>Mean word count</th>
      <th>Stddev</th>
      <th>Sum square sentiment</th>
      <th>Adjective adverb ratio</th>
      <th>Linking verb ratio</th>
      <th>Redundancy factor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.hash %></td>
        <td><%= result.eloquence_score %></td>
        <td><%= result.high_register_word_ratio %></td>
        <td><%= result.mean_word_count %></td>
        <td><%= result.stddev %></td>
        <td><%= result.sum_square_sentiment %></td>
        <td><%= result.adjective_adverb_ratio %></td>
        <td><%= result.linking_verb_ratio %></td>
        <td><%= result.redundancy_factor %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
