<p id="notice"><%= notice %></p>

<p>
  <strong>Hash:</strong>
  <%= @result.hash %>
</p>

<p>
  <strong>Eloquence score:</strong>
  <%= @result.eloquence_score %>
</p>

<p>
  <strong>High register word ratio:</strong>
  <%= @result.high_register_word_ratio %>
</p>

<p>
  <strong>Mean word count:</strong>
  <%= @result.mean_word_count %>
</p>

<p>
  <strong>Stddev:</strong>
  <%= @result.stddev %>
</p>

<p>
  <strong>Sum square sentiment:</strong>
  <%= @result.sum_square_sentiment %>
</p>

<p>
  <strong>Adjective adverb ratio:</strong>
  <%= @result.adjective_adverb_ratio %>
</p>

<p>
  <strong>Linking verb ratio:</strong>
  <%= @result.linking_verb_ratio %>
</p>

<p>
  <strong>Redundancy factor:</strong>
  <%= @result.redundancy_factor %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
