<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :is_latinate %><br>
    <%= f.check_box :is_latinate %>
  </div>
  <div class="field">
    <%= f.label :syllables_count %><br>
    <%= f.number_field :syllables_count %>
  </div>
  <div class="field">
    <%= f.label :part_of_speech %><br>
    <%= f.text_field :part_of_speech %>
  </div>
  <div class="field">
    <%= f.label :is_linking_verb %><br>
    <%= f.check_box :is_linking_verb %>
  </div>
  <div class="field">
    <%= f.label :canonical %><br>
    <%= f.text_field :canonical %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
