<h1>Listing words</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Is latinate</th>
      <th>Syllables count</th>
      <th>Part of speech</th>
      <th>Is linking verb</th>
      <th>Canonical</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.text %></td>
        <td><%= word.is_latinate %></td>
        <td><%= word.syllables_count %></td>
        <td><%= word.part_of_speech %></td>
        <td><%= word.is_linking_verb %></td>
        <td><%= word.canonical %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
