<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @word.text %>
</p>

<p>
  <strong>Is latinate:</strong>
  <%= @word.is_latinate %>
</p>

<p>
  <strong>Syllables count:</strong>
  <%= @word.syllables_count %>
</p>

<p>
  <strong>Part of speech:</strong>
  <%= @word.part_of_speech %>
</p>

<p>
  <strong>Is linking verb:</strong>
  <%= @word.is_linking_verb %>
</p>

<p>
  <strong>Canonical:</strong>
  <%= @word.canonical %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
