// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$princeton_orange: #F58025;
$yale_blue: #3498db;
$dark_gray: #898989;
$dark_gray2: #454545;
$classy_ff: "Times New Roman", Georgia, Serif;
$simple_ff: "Tahoma";

$subtle_shadow: 0px 1px 1px #CCC;

body {
	font-family: $classy_ff;
}

.navbar-custom {
	// background-color:;
	// border-radius:0xpx
	color: $princeton_orange;
	font-size:16px;
	background-color: $yale_blue;
	padding-left:22%;
}

.navbar-nav {
	li {
		a:link {
			color:white;
		}
		a:visited {
			color:white;
		}
		a:hover {
			color:white;
		}
		a:active {
			color:white;
		}
		font-size:25px;
		font-family: $classy_ff;
	}
}

.main_container {
 	width:60%;
 	padding-top:0px;
}

#quote {
 	width:70%;
 	text-align:center;
 	margin:0 auto;
}

.footer_container {
	padding-top:25px;
	padding-bottom:12px;
	background-color:$dark_gray2;
	color:white;
	text-align:center;
	font-size:13px;
}

 #inspirational {
 	background-color: $dark_gray;
 	height:auto;
 	padding-top:20px;
 	padding-bottom:20px;
 	font-size:20px;
 	color:white;
 	font-style:italic;
 	font-family:$classy_ff;
 }

.welcome_container, .inputtext_container {
	width:100%;
	background-color:white;
}

.welcome_container {
	height:400px;
}

.inputtext_container {
	margin-bottom:30px;
	background-color:white;
	padding:20px;
}

.analyze_container {
	padding:20px;
	margin-bottom:20px;
	background-color:white;
	font-family:$classy_ff;
}

.welcome_footer {
	width:100%;
	margin:0 auto;
	margin-bottom:30px;
	margin-top:30px;
	padding:20px;
	background-color:white;
	box-shadow: $subtle_shadow;
	font-family: $simple_ff;

	label {
		font-weight:normal;
	}
}

.welcome_footerblock {
	display:inline-block;
	padding-right:30px;
	font-size:18px;
}

#writing_area {
	border:none;
	// border-bottom:solid;
	box-shadow: $subtle_shadow;
	margin-bottom:0px;
	padding:50px;
	padding-left:80px;
	padding-right:80px;
	width:100%;
	font-size:20px;
	outline:yellow;
	height:100%;
	resize:none;
}