<!DOCTYPE html>
<html>
<head>
  <title><%= application_name %></title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-custom" role="navigation" style="margin:0px">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav">
        <li><a href="/"><%= application_name %></a></li>
      </ul>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div> --><!-- /.navbar-collapse -->
  <!-- /.container-fluid -->
	</nav>
	<div class="jumbotron" style="margin-bottom:0px; padding-top:5px; padding-bottom:0px">
		<div class="container main_container">
			<%= yield %>
		</div>
	</div>
	<div id="inspirational">
      <div class="container">
      	<div id="quote">
        	<p>"When [Ambrosius] read, his eyes scanned the page and his heart sought out the meaning, but his voice was silent and his tongue was still. Anyone could approach him freely and guests were not commonly announced, so that often, when we came to visit him, we found him reading like this in silence, for he never read aloud." 
- Augustine of Hippo</p>
		</div>
      </div>
    </div>
	<div id="footer" class="footer_container">
      <div class="container">
        	<p>Copyright 2014 Jonathan Tang, Jerry Liu, and Hongyi Shi. All rights reserved.</p>
      </div>
    </div>
</body>
</html>
